@charset "utf-8";

/* detail common */
section h2.title {
  border-bottom: 1px dashed #6CC2EA;
  border-left: 3px solid #43A4E9;
  color: #6CC2EA;
  /*background-color: #6CC2EA;*/
  /*margin-bottom: 60px;*/
  margin: 0;
  line-height: 50px;
  text-indent: 25px;
  font-size: 24px;
}

section.sub-content {
  width: 1180px;
  margin: 0 auto;
  /*border: 1px solid #eeeeee;*/
  /*border-top: none;*/
}

.content-box {
  margin: 0 auto;
  padding: 30px 0 40px;
}
