/*帮助*/
/*
.help_body {
    width: 960px;
    margin: 0 auto;
}
.help_body .help_title {
    background: url("../images/help/txt-help.jpg") no-repeat ;
    display: inline;
    float: left;
    width: 960px;
    height: 41px;
    margin: 16px 0 12px;
    text-indent: -999em;
}
*/
.help_box {
    background: #ffffff;
    border: 1px solid #DCDCDC;
    /*width: 960px;*/
    width: 100%;
    display: inline;
    float: left;
}
.help_box_left {
    display: inline;
    float: left;
    width: 325px;
    padding: 20px 0 0 20px;
    border-right: 1px solid #EBEBEB;
    position: relative;
    right: -1px;
    padding-bottom: 20px;
}
.help_box_left .title {
    background: url("../images/help/help-logo.jpg") no-repeat;
    display: inline;
    float: left;
    width: 325px;
    height: 46px;
    border-bottom: 1px solid #ebebeb;
}
.help_box_left .guide1 {
    display: inline;
    float: left;
    width: 324px;
}
.help_box_left .guide1 .open {
    display: inline;
    float: left;
    border-bottom: 1px solid #ebebeb;
    height: auto;
    line-height: 38px;
    width: 324px;
}
.help_box_left .guide1 .open .title {
    border-left: 1px solid #ebebeb;
    display: inline;
    float: left;
    width: 324px;
    height: 38px;
    line-height: 38px;
    background: none;
}
.help_box_left .guide1 .open .cat {
    display: inline;
    float: left;
    height: 38px;
    line-height: 38px;
    background: url("../images/help/h_bg.png") no-repeat 0 -192px;
    _background: url("../images/help/h_bg.gif") no-repeat 0 -192px;
    padding-left: 30px;
    width: 153px;
    font-size: 14px;
    color: #0681DF;
    text-decoration: none;
    cursor: pointer;
}
.help_box_left .guide1 .open .content {
    display: inline;
    float: left;
    line-height: 38px;
}
.help_box_left .guide1 .open .content ul {
    display: inline;
    float: left;
    width: 324px;
    background: #ffffff;
    border-left: 1px solid #ebebeb;
    padding: 5px 0;
}
.help_box_left .guide1 .open .content li {
    display: inline;
    float: left;
    height: 38px;
    left: -1px;
    position: relative;
    /*width: 222px;*/
    width: 336px;
}

.help_box_left .guide1 .open .content li:hover {
	background: url("../images/help/bg_faq_nav.png") no-repeat -84px 0;
}

.help_box_left .guide1 .open .content li:hover a {
    color: #FFFFFF;
    font-weight: bold;
    height: 43px;
    line-height: 37px;
    isplay: inline;
    float: left;
    text-decoration: none;
}

.help_box_left .guide1 .open .content li.on {
    background: url("../images/help/bg_faq_nav.png") no-repeat -84px 0;
    border-left: 0 solid #ebebeb;
}
.help_box_left .guide1 .open .content li a {
    display: inline;
    float: left;
    padding-left: 45px;
    /*width: 139px;*/
    position: absolute;
    font-size: 14px;
	line-height: 38px;
	color: #5e5e5e;
}
.help_box_left .guide1 .open .content li.on a {
    background: url("../images/help/bg_faq_nav.png") no-repeat -84px 0;
    color: #FFFFFF;
    font-weight: bold;
    height: 43px;
    line-height: 37px;
    /*width: 150px;*/
    isplay: inline;
    float: left;
    text-decoration: none;
}
.help_box_left .guide1 .close {
    display: inline;
    float: left;
    height: auto;
    line-height: 38px;
    width: 324px;
}
.help_box_left .guide1 .close .title {
    border-left: 1px solid #ebebeb;
    display: inline;
    float: left;
    width: 324px;
    height: 38px;
    line-height: 38px;
    background: none;
}
.help_box_left .guide1 .close .cat {
    display: inline;
    float: left;
    height: 38px;
    line-height: 38px;
    background: url("../images/help/h_bg.png") no-repeat -10px -143px;
    _background: url("../images/help/h_bg.gif") no-repeat -10px -143px;
    padding-left: 30px;
    width: 153px;
    font-size: 14px;
    color: #0681DF;
    text-decoration: none;
    cursor: pointer;
}
.help_box_left .guide1 .close .content {
    display: inline;
    float: left;
    line-height: 38px;
    display: none;
}
.help_box_left .guide1 .close .content ul {
    border-top: 1px solid #ebebeb;
    display: inline;
    float: left;
    width: 324px;
}
.help_box_left .guide1 .close .content li {
    display: inline;
    float: left;
    height: 38px;
    background: #ffffff;
    border-left: 1px solid #ebebeb;
}
.help_box_left .guide1 .close .content li.on {
    background: url("../images/help/bg_faq_nav.png") no-repeat -84px 0;
}

.help_box_left .guide1 .close .content li a {
    display: inline;
    float: left;
    padding-left: 45px;
    width: 138px;
}
.help_box_left .guide1 .close .content li.on a {
    background: url("../images/help/bg_faq_nav.png") no-repeat scroll -84px 0 transparent;
    color: #FFFFFF;
    font-weight: bold;
    height: 43px;
    line-height: 37px;
    width: 200px;
    isplay: inline;
    float: left;
    text-decoration: none;
}
.help_box_right {
    display: inline;
    float: right;
    padding: 20px 20px 0 0;
    /*width: 753px;*/
    width: 848px;
    border-left: 1px solid #EBEBEB;
    overflow: hidden;
}
.help_box_right .title {
    display: inline;
    float: left;
    margin: 0 0 0 20px;
    background: #F8F8F8;
    border-bottom: 1px solid #D9D9D9;
    padding: 12px 0 11px 10px;
    font-family: "黑体";
    font-size: 20px;
    font-weight: 400;
    color: #868686;
    width: 815px;
}
.help_box_right .list {
    display: inline;
    float: left;
    margin: 0 0 0 20px;
    width: 715px;
    zoom: 1;
}
.help_box_right .list ul {
    display: inline;
    float: left;
    width: 715px;
}
.help_box_right .list ul li {
    color: #AAAAAA;
    background: url("../images/help/h_bg.png") no-repeat -17px -177px;
    margin: 15px 4px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 340px;
    font-size: 14px;
    float: left;
    _background: url("../images/help/h_bg.gif") no-repeat -17px -181px;
    padding-left: 13px;
    _width: 340px;
    display: inline;
    height: 20px;
    line-height: 20px;
}
.help_box_right .list ul li a {
    color: #666666;
}
.help_item {
    display: inline;
    float: left;
    margin-top: 20px;
    /*width: 715px;*/
    width: 825px;
    margin: 10px 0 0 20px;
}
.help_item_title {
    background-color: #F0F0F0;
    display: inline;
    float: left;
    padding: 10px 15px 8px;
    width: 685px;
}
.help_item_title .item_title {
    color: #67ae20;
    display: inline;
    float: left;
    font-size: 14px;
    font-weight: bold;
}
.help_item_title .item_title a {
    /*color: #67ae20;*/
    text-decoration: none;
}
.help_item_title .top {
    background: url("../images/help/top_icon.gif") no-repeat;
    display: inline;
    float: right;
    height: 7px;
    margin-left: 5px;
    margin-top: 3px;
    width: 9px;
}
.help_item_title .more {
    display: inline;
    float: right;
    font-size: 12px;
}
.help_item_title .more a {
    color: #666666;
}
.help_item_text {
    display: inline;
    float: left;
    font-size: 14px;
    line-height: 25px;
    padding: 15px;
    /*width: 685px;*/
    width: 795px;
}
.help_item_text p {
    color: #444444;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 15px;
    text-indent: 28px;
    float: none;
}
.space {
    height: 100px;
    display: inline;
    float: left;
    width: 734px;
}
.help_nothing {
    display: inline;
    float: left;
    text-align: center;
    font-size: 16px;
    width: 734px;
    padding: 240px 0;
}

.help_box_right .help_box_list {
    display: inline;
    float: left;
    margin: 0 0 0 20px;
    width: 715px;
}
.help_box_right .help_box_list {
    zoom: 1;
}
.help_box_right .help_box_list ul li {
    width: 702px;
    color: #AAAAAA;
    margin-top: 15px;
    overflow: hidden;
    font-size: 14px;
    float: left;
    background: url("../images/help/h_bg.png") no-repeat -17px -177px;
    _background: url("../images/help/h_bg.gif") no-repeat -17px -180px;
    padding-left: 13px;
    display: inline;
}
.help_box_right .help_box_list ul li a {
    display: inline;
    float: left;
}
.help_box_right .help_box_list ul li .time {
    display: inline;
    float: right;
}

.help_box_right .back_btn {
    color: #666;
    font-size: 12px;
    padding: 8px 17px 7px 25px;
    background: url(../images/help/yarn_re.png) no-repeat 0 0;
    border-right: 1px solid #e7e7e7;
    margin-top: 15px;
    margin-left: 20px;
}

.help_box_right .back_btn:hover {
    background-position: 0 -48px;
    border-right-color: #D7D7D7;
}
