/* Css Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td,img { padding: 0; margin: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,th,var,i { font-weight:normal; font-style:normal; }
ol,ul,li { list-style: none; }
div,dl,dt,dd,ol,ul,li { zoom:1; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size:100%; }
q:before,q:after { content:''; }
abbr,acronym { border: 0; }

/* Public */
html{ width:100%; }
body{ width:100%; color:#555;font:12px/20px "Microsoft YaHei", Arial, sans-serif, "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti; -webkit-text-size-adjust: none;}
a{color:#555;text-decoration:none; outline:none;}
a:hover {color:#1c8fdf; text-decoration:underline; }
.lf{ float:left !important; }
.rf{ float:right !important; }
.tc{ text-align:center; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

/* Protected */
select { color: #333; height: 24px; line-height: 24px; border: 1px solid #eee; border-top-color: #999; border-left-color: #999; background: #fff; }

.ui-ipt-txt, .ui-textarea {height: 24px;padding: 0 5px;line-height: 24px;vertical-align: middle;color: #666;background-color: #fff;border: solid 1px #c7ccd2;border-right-color: #e0e4e9;border-bottom-color: #e0e4e9;outline: 0;}

.siteWidth{ width:1200px; margin:0 auto;   }
.column{ overflow:hidden;  }
#topBar{ height:28px; line-height:30px; background:#fff; border-bottom:1px solid #f3f3f3; overflow:hidden;  }
#topBar em{ color:#f00; }
#topBar span{ float:right; color:#999;  }
#topBar span a{ margin:0 5px; color:#666;  }

/* 登陆页面 */
.loginbox { width:400px;margin:0 auto;margin-top: 150px;background: #fff;
	border: solid 1px #1c8fdf;padding: 15px 15px 0 15px;border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: 0 1px 3px rgba(131, 147, 167, 0.12);
	-moz-box-shadow: 0 1px 3px rgba(131, 147, 167, 0.12);
	-webkit-box-shadow: 0 1px 3px rgba(131,147,167,0.12);
}
.loginbox ul { margin-top: 30px;margin-bottom:10px; }
.loginbox ul li { margin-left: 90px; line-height:30px;margin-bottom:18px; }

/* 导航 */
#header{ margin-bottom: 1px; background:#1c8fdf;box-shadow: 2px 0px 5px #888888; -o-box-shadow: 2px 0px 5px #888888;-moz-box-shadow: 2px 0px 5px #888888;-webkit-box-shadow: 2px 0px 5px #888888;}
.logoBar{ width:1200px; margin:0 auto; padding: 5px 0; height:78px;}
.logoBar h1{ font: bold 26px/32px "Microsoft YaHei", Arial, sans-serif, "Helvetica Neue";color:#39A4DC;}
.logoBar h2{ margin-left: 158px; margin-top: -30px; width:80px; font-size: 17px;color:#666; border-bottom: 1px solid #666;}

/* css */
.navBar{  position:relative; width:100%; margin:0 auto; position:relative; z-index:1;  background:#1c8fdf; color:#fff; height:92px; }
.navBar img{ float:left;width:60px; margin:-2px 9px; background-position:0 -110px; background-repeat:no-repeat;}
.nav .m span{float:left; margin:-12px 0px; text-align:center; width:80px;}
.navBar ul { width:1200px; margin:0 auto;}
.nav{ overflow:hidden; zoom:1; }
.nav .m{ float:left;  padding:0 10px; display:inline;  }
.nav h3{ float:left;  font-size:100%; font-weight:normal; font-size:16px;width: 86px;}
.nav .s{ float:left; width:3px; text-align:center; color:#75c7f2;   }
.nav h3 a{ float:left;  display:block; color:#fff; margin-top:5px;height: 72px;width: 80px;line-height:36px;}
.nav .on h3 a{ height: 75px; width:80px; line-height:36px; background:#fff; margin-top:5px;  color:#1c8fdf; text-decoration:none;border-radius:4px;-o-border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;box-shadow: 0px 0px 5px #fff;}
.navIco{  position:relative; width:100%; margin:0 auto; position:relative; z-index:1;  background:#1c8fdf; color:#fff; height:66px; line-height:40px;   }
.navIco ul { width:1200px; margin:0 auto;}
.navIco img{ height: 65px; margin:5px 15px;}
.navIco ul li{width:104px; padding:0 !important;}



.navBar ul div { float:right; padding:0px; font:normal 13px/20px "Microsoft YaHei"; margin-top:30px;}
.navBar ul div  a{ margin:0px;}
.navBar ul div .notification{ margin-left:6px;}
.navBar ul div .name{font-size:13px;line-height:45px;display:inline-block;float:left;}
.navBar ul div .account{ margin-left:4px; display:inline-block; line-height:47px;color:#fff; }

.subNav{ color:#333;  height:36px; line-height:36px; background:#fff; border-bottom:1px solid #ccc; overflow:hidden; padding:0 10px;  }
.subNav li{ overflow:hidden; zoom:1; }	
.subNav iframe{ float:right;  }
.subNav a{ margin:0 10px;  }

/* content */
.content{ padding:20px 0; overflow:hidden; width:1200px; margin:0 auto;margin-bottom: 90px; }
.mainContent{ width:1016px; float:left; margin-left:10px; height:100%; min-height:568px;}
.main{ width:1200px; margin:0 auto; height:100%;}
.side{ width:168px; float:left; }

.show_ip_info{width:980px!important;}
.show_ip_info .slideTxtBox,.show_ip_info .top_30,.show_ip_info .title{ width:940px!important;;}
.show_ip_info .title .name,.show_ip_info .item .name{ width:480px !important;}
.show_ip_info .title .sum,.show_ip_info .item .sum{ width:100px !important;}
.show_ip_info .title .no,.show_ip_info .item .no{ width:300px !important;}

.table-toolbar { height: 30px;line-height: 30px;padding: 10px 0;border-bottom: solid 1px #eaeaea;vertical-align: baseline; }
.table-toolbar button { color:#333;border:solid 1px #d0d0d0;background:#f1f1f1;padding: 0 10px;height:26px;line-height:25px;vertical-align: middle;margin:0px 4px 0px 4px;display: inline-block;overflow:hidden;cursor:pointer; }
.table-toolbar button:hover { border: solid 1px #1c8fdf; }
.table-toolbar .lf span, .table-toolbar .lf a {margin-left:12px;}
.table-toolbar .addbtn{ padding:5px 10px; color:#fff; background:#1c8fdf;-o-border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;margin-left:0px !important; text-decoration:none;}
.table-toolbar .addbtn:hover{box-shadow: 0px 0px 5px #1c8fdf;-o-box-shadow: 0px 0px 5px #1c8fdf;-webkit-box-shadow: 0px 0px 5px #1c8fdf;-moz-box-shadow: 0px 0px 5px #1c8fdf;}

/* 左菜单 */
#sideMenu,#sideMenu1,#sideMenu2 { padding:0 1px; overflow:hidden; margin-bottom:10px; border: 1px solid #f3f3f3; font: normal 14px/20px "Microsoft YaHei";color:#666;}
#sideMenu .hd,#sideMenu1 .hd,#sideMenu2 .hd { height:34px; line-height:34px; margin:1px 0;  padding:0 16px; background:url(../img/icons.png) #F8F8F8 148px -37px no-repeat; cursor:pointer;}
#sideMenu .hd span,#sideMenu1 .hd span,#sideMenu2 .hd span{ width:17px;height:15px; display:inline-block; float:left; margin:10px 5px;}
#sideMenu .hd h3,#sideMenu1 .hd h3,#sideMenu2 .hd h3 { font-weight:bold; font-size:13px; float:left}
#sideMenu .on,#sideMenu1 .on,#sideMenu2 .on { background:url(../img/icons.png) #1c8fdf 148px -77px no-repeat;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;}
#sideMenu .on h3,#sideMenu1 .on h3,#sideMenu2 .on h3{ color:#fff; }
#sideMenu .bd,#sideMenu1 .bd,#sideMenu2 .bd { /*padding:10px 0 10px 20px;*/ overflow:hidden; display:none; }
#sideMenu .bd li,#sideMenu1 .bd li,#sideMenu2 .bd li{ margin:2px 0px 2px 0px; width:168px;height:30px; line-height:30px;}
/*#sideMenu .bd a,#sideMenu1 .bd a,#sideMenu2 .bd a{ display:inline-block; width:136px;height:30px; margin-left:6px;border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px; padding-left:20px;}*/
#sideMenu .bd a,#sideMenu1 .bd a,#sideMenu2 .bd a{ display:inline-block; width:142px;height:30px; padding-left:20px;border-left:3px solid #ccc; color:#999;}
#sideMenu .bd a:hover,#sideMenu1 .bd a:hover,#sideMenu2 .bd a:hover{background:#f5f5f5; text-decoration:none;}
#sideMenu .bd .active ,#sideMenu1 .bd .active ,#sideMenu2 .bd .active{/* background:#1c8fdf; color:#fff;*/border-left:3px solid #1c8fdf; color:#1c8fdf; background:#f5f5f5}
#sideMenu .bd li span,#sideMenu1 .bd li span,#sideMenu2 .bd li span { color:#999; margin-right:5px; }


/******操作******/
.opt_div a{
	height:25px;
	line-height:25px;
	display:inline-block;
	width:100px;
	text-align:center;
}
.opt_div a:hover{ background:#f1f1f1;}


/* Tab切换 */
.slideTxtBox { float:left;  width:100%; height:100%; overflow:hidden;  padding:0 0 0 10px; background:#fff;  text-align:left;}
.slideTxtBox .hd { height:34px; line-height:34px; padding:0 0; border-bottom:2px solid #1c8fdf; font-size:14px; }
.slideTxtBox .hd a, .slideTxtBox .hd h2{float:left;margin-left:5px;border:2px solid #1c8fdf; border-bottom:none; padding:0px 10px; cursor:pointer; color:#1c8fdf; text-decoration:none;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px; background:#DDEDFB;}
.slideTxtBox .hd h2{box-shadow: 2px 0px 1px #888888;-o-box-shadow: 2px 0px 1px #888888;-moz-box-shadow: 2px 0px 1px #888888;-webkit-box-shadow: 2px 0px 1px #888888;}
.slideTxtBox .hd a{border: 2px solid #DDEDFB;border-bottom: 2px solid #1c8fdf;height: 32px;}
/*.slideTxtBox .hd a:hover{box-shadow: 0px 0px 5px #1c8fdf;-o-box-shadow: 0px 0px 5px #1c8fdf;-webkit-box-shadow: 0px 0px 5px #1c8fdf;-moz-box-shadow: 0px 0px 5px #1c8fdf;}*/
.slideTxtBox .hd h2{ margin:0; background:#1c8fdf; color:#fff; font-weight:bold;}
.slideTxtBox .hd ul { overflow:hidden; zoom:1; }
.slideTxtBox .hd ul { float:right; }
.slideTxtBox .hd ul li{ float:left; }
.slideTxtBox .hd ul li a{ display:block; padding:0 15px;  }
.slideTxtBox .hd ul li a:hover{ text-decoration:none;  }
.slideTxtBox .hd ul li.on a{ background:#1c8fdf; color:#fff; font-weight:bold;  }
.slideTxtBox .bd{ padding: 10px 0;  }
.slideTxtBox .bd li{ height:34px; line-height:34px;   }
.slideTxtBox .bd li .date{ float:right; color:#999;  }
.slideTxtBox h1{ padding-left:20px; font-size: 18px;color: #646464; display: block; }

/* table */
.ui-table{color:#555}
.ui-table th{height:48px;border-top-color:#eaeaea;font-weight:bold;}
.ui-table td{height:40px;border-top:solid 1px #f3f3f3;background:#fff;line-height:20px;}
.ui-table td.laber {width: 100px;padding-left: 10px;color: #666;text-align: left;font-weight: bold;}
.ui-table td.edit {text-align: left;padding-left: 10px;color: #999;width: 226px;}
.ui-table td.info {color: #999;text-align: center;}
.ui-table td > div {width: 994px;margin: 0 0 4px 0;padding: 3px 1px 1px 10px;border: 1px solid #eee;}
.ui-table tbody tr.even td{background-color:#fbfdfe}
.ui-table tbody tr.bgcolor td,.ui-table tbody tr:hover td{background:#f3f3f3}
.ui-table tbody tr.row-opened td,.ui-table tbody tr.row-opened:hover td{background-color:#eef5ff;border-top:solid 1px #ddd}
.ui-table tbody tr.without-help td{background-color:#fff}
.ui-table .sortable{-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none}
.ui-table .sortable .el{background:url(../img/order_icon.gif) right 9px no-repeat;padding-right:12px;display:inline-block;line-height:30px;cursor:pointer}
.ui-table .sortable .asc{background-position:right 9px}
.ui-table .sortable .desc{background-position:right -50px}
.ui-table .sortable .asc_on{background-position:right -171px}
.ui-table .sortable .desc_on{background-position:right -110px}

.memu_bar { margin:10px; height:34px;*height:54px;line-height:34px; }
.memu_bar a, .memu_bar span { margin-left:10px; }
.memu_bar li { float:left; }
.memu_bar li a { width:30px;padding:3px 3px;text-align:center;background:#fff;border:1px solid #1c8fdf;color:#333; margin:0 5px; margin-bottom:20px; }
.memu_bar li a:hover { color:#fff;border:1px solid #1c8fdf;background:#1c8fdf;text-decoration:none; }
.memu_bar button:hover { border: dashed 1px #1c8fdf; }
.memu_bar button, .memu_bar input[type="submit"] {color: #fff;font-weight: bold;font-size: 13px;border: 1px solid #fff;background: #1c8fdf;padding: 0px 15px;height: 34px;line-height: 24px;margin: 0px 4px 0px 4px;overflow: hidden;cursor: pointer;}

.footer a {color: #666;}
.footer {text-align: center;line-height: 25px;background: url(../img/foot.gif) 0 bottom repeat-x #eee;border-top: solid 1px #dbdee1;padding: 25px 0;/* position:fixed;*/ bottom:0; width:100%}


.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 2px;
vertical-align: middle;
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
}

/********** top 30 **********/
.mainContent .top_30{ width:1000px; height:34px; line-height:34px; color:#fff; background:#1c8fdf; margin-top:2px; text-indent:2em; font-size:14px;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-o-border-radius: 3px;}
.mainContent .title,.mainContent .item,.mainContent .time{width:998px; height:34px; line-height:34px; border-bottom:1px dashed #e5e5e5; margin-left:2px;}
.title .no,.item .no{ text-indent:2em; color:#666; width:300px;float:left}
.title .name,.item .name{ text-indent:2em; color:#666; width:400px;float:left}
.title .sum,.item .sum{ text-indent:2em; color:#666; width:100px;float:left}
.item .no span{ text-indent:0em;width:18px; height:18px; line-height:16px; display:block; margin-top:9px; color:#fff; line-height:16px; background:#C0C1C3; text-align:center; margin-left:28px;}
.item .no .hot{ background:#0066cc !important;}

#mainContent input{background:#FFF url(http://img02.taobaocdn.com/tps/i2/T122NIXoBAXXXXXXXX-200-200.png) 0 0 no-repeat;}
#mainContent .f-text{padding:3px;width:179px;height:18px;color:#666;line-height:18px;font-family:inherit;border-color:#AFAFAF #DCDCDC #DCDCDC #AFAFAF;border-width:0 1px 1px 0;background-position:0 -100px;}

