.out_box{border:1px solid #ccc; background:#fff; font-size:16px;}     
.list_box{border-bottom:1px solid #eee; padding:0 5px; cursor:pointer;}     
.focus_box{background:#f0f3f9;}     
.mark_box{color:#c00;}		
a:link {color: #08c;}
a:visited {color: #08c;}
a:hover {color: #08c;}
a:active {color: #08c;}
.tc-page-foot {
	text-align: center;
	line-height: 25px;
	background: url(__Public__/img/foot.gif) 0 bottom repeat-x #eee;
	border-top: solid 1px #dbdee1;
	padding: 25px 0;
	bottom: 0px;
	width: 100%;
	position: fixed;
}
body{font-family: STHeiti,"microsoft yahei",Arial,sans-serif;}