a.closeBtn { position:absolute;top:10px;right:10px;display:block;width:60px;padding:4px 0;text-align:center;background:#fff;border:1px solid #3CADED;color:#333; }
a.closeBtn:hover { color:#fff;border:1px solid #3CADED;background:#3CADED;text-decoration:none; }
/* blk */
.blk { width:560px;position:relative; }

.blk .head, .blk .head-right, .blk .foot, .blk .foot-right {background:url(../images/pop_up_bg.png);overflow:hidden;height:4px; }
.blk .head { padding-left:4px;}
.blk .head-right { background-position:right top;}

.blk .foot { padding-left:4px;background-position:left bottom;_height:3px; }
.blk .foot-right { background-position:right bottom; }

.blk .mn { border:2px solid #3CADED;position:relative;background:#fff; }
.blk .mn h2 { font:bold 16px "Microsoft YaHei";padding:10px 20px 2px;color:#3CADED; }
.blk .mn ul { padding:20px;zoom:1;overflow:hidden;font-size:13px;}
.blk .mn ul li { float:left;width:160px;text-align:center;line-height:26px;margin-bottom:4px; }
.blk .mn ul li a { color:#333;display:inline;margin-left:10px; }
.blk .mn ul li a:hover { background:#3CADED;color:#fff; }

.blk .mn div { width:100%; margin:0 auto; line-height:30px;margin-bottom:8px; }
.blk .mn div span { margin-left: 160px; }
.blk .mn div input[type="text"] { height:26px; padding-left:4px; }
.blk .mn div input[type="text"], .blk .mn div textarea { background: #fff;color: #333;border: 1px solid #eee;border-top-color: #999;border-left-color: #999; }
.blk .mn div textarea { padding:4px 4px; }
.blk .mn div select { color: #333;height: 27px;line-height: 27px;border: 1px solid #eee;border-top-color: #999;border-left-color: #999;background: #fff; }
.blk .mn div button { width:60px;padding:4px 0;text-align:center;background:#fff;border:1px solid #3CADED;color:#333; margin-left:60px; margin-bottom:20px; }
.blk .mn div button:hover { color:#fff;border:1px solid #3CADED;background:#3CADED;text-decoration:none; }

/* popup_iframe */
* html .popup_iframe{width:expression(this.previousSibling.style.width);height:expression(this.previousSibling.style.height);}